PORT=
CORS_ORIGIN=

MONGO_URI=

#Cookies
COOKIE_SECURE=
COOKIE_SAME_SITE=
COOKIE_MAX_AGE=

# Secreto para JWT
JWT_SECRET=
JWT_EXPIRES=

# Variables para Nodemailer
EMAIL_HOST=
EMAIL_PORT=

EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# Mercado Pago
MP_ACCESS_TOKEN=