# 🌐 Servidor
PORT=3000
CORS_ORIGIN=http://localhost:5173

# 🗄️ MongoDB
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/canchas_db

# 🍪 Cookies
COOKIE_SECURE= true
COOKIE_SAME_SITE= lax
COOKIE_MAX_AGE= 3600

# 🔐 JWT
JWT_SECRET=tu_super_secreto_jwt
JWT_EXPIRE=7d

# 📧 Nodemailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password
EMAIL_FROM=tu_email@gmail.com

# 💳 MercadoPago
MP_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxxxxxxxxxxxx

# 🔑 Firebase Admin (para Google Login)
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY----\n"
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/
FIREBASE_UNIVERSE_DOMAIN=googleapis.com